*{
  padding:0px;
  margin:0px;
}
.workbox {
    width: 345px;
    height: 145px;
    border-radius: 15px;
    margin: 25px 10px;
    float: left;
}
.imgbox {
    width: 45%;
    height: 100%;
    border-radius: 10px;
    float: left;
}
.titlebox {
    width: 55%;
    height: 100%;
    border-radius: 10px;
    float: left;
}
.img{
    width:90%;
}
.textbox{
    width:100%;
    height:70px;
    text-align:center;
    line-height:70px;
}