.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row ::deep a, .top-row .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth) {
        display: none;
    }

    .top-row.auth {
        justify-content: space-between;
    }

    .top-row a, .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row, article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

.flamingo {
    background-image: radial-gradient(73% 147%, #EADFDF 59%, #ECE2DF 100%), radial-gradient(91% 146%, rgba(255,255,255,0.50) 47%, rgba(0,0,0,0.50) 100%);
    background-blend-mode: screen;
}

.point {
    position: absolute;
    right: 0;
    top: 200px;
    z-index: 101;
    font-size: 20px
}

    .point li {
        display: block;
        text-align: right;
        line-height: 80px
    }

        .point li a {
            font-family: "Microsoft YaHei";
            color: #686967;
            display: inline-block;
            line-height: 46px;
            padding: 10px 50px;
            font-size: 20px;
            color: #686967;
            text-decoration: none;
            -webkit-transition: color .6s linear;
            transition: color .6s linear;
            position: relative
        }

            .point li a:before {
                -webkit-transition: all .3s linear;
                transition: all .3s linear;
                content: '';
                height: 1px;
                background-color: transparent;
                position: absolute;
                top: 50%;
                left: 15px;
                right: 105px
            }

            .point li a:hover {
                color: #6bc30d
            }

                .point li a:hover:before {
                    background-color: #6bc30d;
                    right: 15px
                }
.footer .container {
    width: 90%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

.footer .footer-top {
    background: #232328;
    padding: 15px 30px
}

.footer .single-widget {
    margin-top: 30px
}

.footer .footer-logo {
    margin-bottom: 20px
}

.footer .single-widget h2 {
    color: #fff;
    font-size: 18px;
    margin-bottom: 20px;
    text-transform: uppercase
}

.footer .about p {
    color: #eee
}

.footer .button .btn {
    margin-top: 20px
}

    .footer .button .btn:hover {
        border-color: #fff
    }

.footer .contact ul li {
    color: #eee;
    position: relative;
    padding-left: 40px;
    font-family: Roboto,sans-serif;
    margin-bottom: 10px
}

    .footer .contact ul li:last-child {
        margin: 0
    }

    .footer .contact ul li i {
        position: absolute;
        top: 50%;
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        left: 0;
        margin-top: -15px;
        font-size: 16px
    }

    .footer .contact ul li a {
        color: #fff
    }

.footer .social-icon li {
    float: left;
    width: 50%;
    margin-bottom: 10px
}

    .footer .social-icon li:last-child {
        margin: 0
    }

    .footer .social-icon li a {
        color: #eee
    }

        .footer .social-icon li a:hover {
            color: #82B440
        }

        .footer .social-icon li a i {
            margin-right: 10px;
            width: 20px;
            font-size: 16px
        }

.footer .copyright {
    padding: 12px 0;
    background: #1D1D21
}

    .footer .copyright .text-center {
        text-align: center
    }

    .footer .copyright p {
        color: #bbb;
        font-size: 14px
    }