@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

@*<PageTitle>灰色的西北平原</PageTitle>*@

<div class="page">
    <main>
        <div style="padding: 5px; min-height: 380px ">
            @Body
        </div>
    </main>
</div>
@code{
    private int Year = DateTime.Now.Year;

    private void Author()
	{
		NavigationManager.NavigateTo("author");
	}
}
