@inherits LayoutComponentBase

@*<PageTitle>灰色的西北平原</PageTitle>*@

<div class="page">
@*    <div class="sidebar">
        <NavMenu />
    </div>*@
    @*注释菜单栏*@
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
