@inherits LayoutComponentBase

@*<PageTitle>灰色的西北平原</PageTitle>*@

<div class="page flamingo">
    <main>
<Layout>
@*    <Header Style="position: fixed; z-index: 1; width: 100%; ">
        <div></div>
    </Header>*@
    <Content  Style="padding:0 50px; margin-top: 18px; ">
        <div style="padding: 24px; min-height: 380px ">
            @Body
        </div>
    </Content>
    <Footer Style="text-align: center;">Y.Blog @Year Created by WYG</Footer>
</Layout>
    </main>
</div>
@code{
    private int Year = DateTime.Now.Year;
}
