.box {
    margin-top:20px;
    margin-bottom:10px; 
}
.tipbox{
    width:100%;
}

body {
    background: navajowhite;
    background-size: cover;
    font-family: 'Trebuchet MS', sans-serif;
}

.container {
    display: inline-block;
    width: 100%;
    line-height: 20px;
    letter-spacing: 3px;
}

.huanhang {
    word-break: break-word;
    white-space: pre-line;
    width:100%;
}

.typed-out {
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    animation: typing 1s steps(20, end) forwards;
    font-size: 0.8rem;
    width: 0;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}


