@page "/"
@inject NavigationManager NavigationManager
<PageTitle>接口列表</PageTitle>

<Button Type="@ButtonType.Link" @onclick="Author">关于作者</Button>

<div>

</div>

@code{
	private void Author()
	{
		NavigationManager.NavigateTo("author");
	}

}
