@page "/"
@inject NavigationManager NavigationManager

<PageTitle>首页</PageTitle>

<div>
	<Button Type="@ButtonType.Link" @onclick="Author">关于作者</Button>
</div>

@code{
	private void Author()
	{
		NavigationManager.NavigateTo("author");
	}

}
