@page "/"
@inject NavigationManager NavigationManager

<PageTitle>首页</PageTitle>

<div>
	<Button Type="@ButtonType.Link" @onclick="Author">关于作者</Button>
    <span>@Sentence</span>
</div>

@code{

	private string Sentence;

	protected async override Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();
	}

	private void Author()
	{
		NavigationManager.NavigateTo("author");
	}
}
